@charset "utf-8";

strong { display:inline-block;margin-left:10px; }
sup { font-size:.8em;vertical-align:super; }

table,
td,
th { border:0 solid #000; }

table {
  border-bottom:1px dashed;
  height:385px;
  margin-bottom:27px;
  width:950px;
  font-size: 12px;
  font-family: Arial;
}
table td { padding-bottom:27px;vertical-align:top; }
table th { border-bottom-width:1px;padding:3px;text-align:center; }
table tr.bold td { border-top:0;font-weight:bold;font-size:1.1em;text-align:center; }
table tr td.dest { font-size:1.2em;font-weight:bold; }
table tr td.left { text-align:left; }

table table { border:2px solid;margin-bottom:0; }
table table td { border-width:1px 1px 0 0;padding:0 5px; }
table table td p { margin-bottom:.8em; }
table table td:last-child { border-right:0; }
table table tr:first-child td { border-top:0; }

table tr.bold td:last-child,
#compensacao tr:first-child td:last-child { text-align:right; }

#compensacao { margin-left:10px;width:750px; }
#compensacao tr:first-child td { vertical-align:middle; }
#compensacao tr:last-child td { padding:5px;text-align:center;vertical-align:top; }
#compensacao tr td.cod_banco { border-width:0 2px 0 1px;font-size:2em;text-align:center; }

#recibo {
  width:200px;
  height:385px;
}
