body {
  background-color: #edf1f6
}
input[type="text"] {
  text-transform:uppercase;
}
input[id="contato"] {
  text-transform:lowercase;
}
input[id="buscaHome"] {
  text-transform:capitalize;
}
.tbfinanceiras td {
  text-align: right;
}
input.uf {
  width:70px;
}
